
#divBroadcasts #divTop{
    background: #354658;
    height:50px;
}
#divBroadcasts #divMid{
    background: #0a0f1d;
    height:50px;
}

#divBroadcasts #ulTopList li{
    display: inline;
}
#divBroadcasts #ulTopList{
    display: inline-block;
}

#divTop .spanLeft li:not(:first-child){
    border-left: 1px lightgray solid;
    padding-left: 5px;
}

#divTop .spanLeft{
    padding-left:10px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
    color: white;
}

#divTop .spanRight{
    padding-top: 15px;
    padding-right: 20px;
    vertical-align: middle;
    display: inline-block;
    float: right;
}

#compose {
    background-color: transparent;
    border-radius: 20px 20px;
    font-size: inherit;
    text-align: center;
    color: white;
    float: right;
}

#divBroadcasts #contentDiv{
    padding:20px;
}

#divBroadcasts #contentDiv ul{
    padding:0;
    margin:0;
    list-style: none;
}

#divBroadcasts #contentDiv ul li{
    display: inline;
}