#divBroadcasts {
    height: 100%;
}

#contentDiv {
    height: 100%;
}

#broadcastMsgContainer {
    height: 100%;
}

#divBroadcasts #divTop{
    background: #354658;
    height:50px;
}
#divBroadcasts #divMid{
    background: #0a0f1d;
    height:50px;
}

#divBroadcasts #ulTopList li{
    display: inline;
}

#ulTopList li.selected {
    color: #F49A43;
}

#divBroadcasts #ulTopList {
    display: inline-block;
}

#divTop .spanLeft li:not(:first-child){
    border-left: 1px lightgray solid;
    padding-left: 5px;
}

#divTop .spanLeft{
    padding-left:10px;
    padding-top: 15px;
    color: white;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

#divTop .spanRight{
    color: #a3c0ce;
    cursor: pointer;
    margin-right: 50px;
}

#addBtnImg {
    margin-right: 2px;
    /*margin-top: 10px;*/
    vertical-align: middle;
}

#composeTxt {
    line-height: 40px;
}

#btnCompose {
    float: right;
    margin-top:4px;
}

#compose {
    background-color: transparent;
    border-radius: 20px 20px;
    font-size: inherit;
    text-align: center;
    color: white;
    float: right;
}

#divBroadcasts #contentDiv{
    padding:20px;
}

#divBroadcasts #broadcastMsgContainer ul{
    padding:0;
    margin:0;
    list-style: none;
}

#divBroadcasts #broadcastMsgContainer ul li{
    display: inline-block;
    margin: 10px;
}

/*#divTop .spanLeft, #divTop .spanRight{*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/