#divHeader{
    padding: 0;
    margin:0;
    background: #f3f3f3;
    height: 100%;
    width: 100%;
    min-width: 500px;
    text-align: right;
    display: inline-block;
    color: #263341;
}
#divHeader ul {
    vertical-align: middle;
    padding-right: 40px;
    padding-top: 40px;
}
#divHeader ul li{
    display: inline;
}

#divHeader .element{
    padding:10px 20px;
    cursor: pointer;
}
#divHeader .element:not(:first-child){
    border-left: 1px lightgray solid;
}
#divHeader .element img{
    margin: -4px 3px 0 3px;
    vertical-align: middle;
}
#divHeader .element:first-child img{
    width: 30px;
    height: 30px;
}
#divHeader .element #imgUser{
    border: 2px #a2bfcd solid;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
#divHeader #spnUser{
    font-weight: bolder;
}