#divMenu{
    display: inline-block;
    padding: 0;
    margin:0;
    background: #263240;
    width: 100%;
    height: 100%;
}

#divMenu ul {
    list-style: none;
    padding: 0px;
}
#divMenu ul li{
    text-align: center;
    display: table;
    width:100%;
}
#divMenu ul li:nth-child(even){
    background: #263240;
}
#divMenu ul li:nth-child(odd){
    background: #354658;
}
#divMenu ul li .selected, #divMenu ul li:hover:not(:first-child){
    background: #20242f;
}
#divMenu ul li div{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#divMenu ul li img{
    height:20px;
    width:20px;
}
#divMenu ul li:first-child img{
    height:40px;
    width:40px;
}
#divMenu ul li:not(:first-child){
    height: 50px;
}
#divMenu ul li:first-child{
    height: 100px;
}
#divMenu ul li:nth-child(2) div{
    text-align: right;
    padding-right:10px;
    color:white;
    font-weight:bolder;
}
