
#divMenu{
    display: block;
    padding: 0;
    margin:0;
    background: #263240;
    width: 100%;
    height: 100%;
}

#divMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#divMenu ul li{
    text-align: center;
    display: table;
    width:100%;
}
#divMenu ul li:nth-child(even){
    background: #263240;
}
#divMenu ul li:nth-child(odd){
    background: #354658;
}

#divMenu ul li:hover:not(:first-child){
    background: #20242f;
}

#divMenu ul li a{
    text-decoration: none;
}
#divMenu ul li a{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#divMenu ul li .menuDescription{
    /*-webkit-transition: .5s;*/
    transition: .5s;
    width:0;
    overflow: hidden;
    display: inline-block;
    color: white;
    white-space: nowrap;
}
#divMenu ul li img{
}
#divMenu ul li:first-child img{
}
#divMenu ul li:not(:first-child){
    height: 50px;
}
#divMenu ul li:first-child{
    height: 100px;
}
#divMenu ul li:nth-child(2) a{
    text-align: right;
    padding-right:10px;
    color:white;
    font-weight:bolder;
    cursor: pointer;
}
.selectedTab{
    border-right:5px #a3c0ce solid;
    border-left:5px transparent solid;
    background: #20242f;
}
