#messagesContactsControl{
    width: 100%;
    height:100%;
    background: #253240;
}
#messagesContactsControl #innerDiv{
    padding:20px 0px;
}

#messagesContactsControl #innerDiv > div{
    width:100%;
    padding:10px 0;
}

#messagesContactsControl #innerDiv > div > div{
    display: inline-block;
}

#messagesContactsControl input{
    width:80%;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:0;
    padding:6px 6px 6px 30px;
    outline:none;
    color: white;
    background: #191d2c url(../resources/images/task/search.svg) no-repeat 7px 5px;
}
#messagesContactsControl #innerDiv > div > div:first-child{
    padding-left:4%;
    width:66%;
}
#messagesContactsControl #innerDiv > div > div:nth-child(2){
    padding-right:4%;
    width:26%;
}
#messagesContactsControl #divCompose{
    width:100%;
    background: #a3c0ce;
    padding:5px 0;
    color: white;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    cursor: pointer;
    font-size: 14px;
}
#messagesContactsControl #divCompose:hover{
    background-color: #F49A43;
}
#messagesContactsControl #divCompose div{
    text-align: center;
}

#messagesContactsControl #ulContacts{
    list-style: none;
    padding: 0;
    margin: 0;
}
#messagesContactsControl #ulContacts li{
    margin:0px 0px;
}