#messagesContactsControl{
    height:100%;
    width:300px;
    background-color: #253240;
    margin:0 10px;
}
#messagesContactsControl #innerDiv{
    position: relative;
    height:100%;
    width:100%;
    overflow: hidden;
}

#messagesContactsControl #innerDiv > div{
    padding-top:10px;
    position: absolute;
    overflow: hidden;
    left:0;
}

#messagesContactsControl #innerDiv > div > div{
    display: inline-block;
}

#messagesContactsControl input{
    width:80%;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:0;
    padding:6px 6px 6px 30px;
    outline:none;
    color: white;
    background: #191d2c url(../resources/images/task/search.svg) no-repeat 7px 5px;
}
#messagesContactsControl #innerDiv #header > div:first-child{
    padding-left:4%;
    width:66%;
}
#messagesContactsControl #innerDiv #header > div:nth-child(2){
    padding-right:4%;
    width:26%;
}
#messagesContactsControl #divCompose{
    width:100%;
    background: #a3c0ce;
    padding:5px 0;
    color: white;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    cursor: pointer;
    font-size: 14px;
}
#messagesContactsControl #divCompose:hover{
    background-color: #F49A43;
}
#messagesContactsControl #divCompose div{
    text-align: center;
}

#messagesContactsControl #innerDiv #header{
    top:0;
    height:40px;
    width:100%;
}

#messagesContactsControl #innerDiv #body{
    top:40px;
    bottom:0;
    width:100%;
}

#messagesContactsControl #ulContacts{
    list-style: none;
    padding: 0;
    margin: 0;
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
}
#messagesContactsControl #ulContacts li{
    margin:0;
}