.messagesContactsControlRow{
    padding:10px 0;
    width: 100%;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
    background-color: #253240;
}
.messagesContactsControlRow.new:hover, .messagesContactsControlRow:hover{
    background-color: #667a8f;
}
.messagesContactsControlRow.new{
    background-color: #3b4753;
}

.messagesContactsControlRow table{
    border-collapse: collapse;
}

.messagesContactsControlRow #messagesContactsControlRow_picture{
    width: 15%;
    padding-left: 10px;
}
.messagesContactsControlRow #messagesContactsControlRow_picture img{
    width: 40px;
    height: 40px;
    border:2px #a2bfcd solid;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
.messagesContactsControlRow #messagesContactsControlRow_nameAndTime{
    padding-left: 10px;
    width: 80%;
}
.messagesContactsControlRow #messagesContactsControlRow_name{
    color: #a2bfcd;
}
.messagesContactsControlRow #messagesContactsControlRow_time{
    margin-left: 10px;
    color: white;
    font-size: 12px;
}
.messagesContactsControlRow #messagesContactsControlRow_status{
    width: 15px;
    padding-right: 10px;
}
.messagesContactsControlRow #messagesContactsControlRow_lastMessage{
    padding-left: 10px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width:100px;
}
.newHorizontalLine{
    background-color: #3b4753;
}