#sendBroadcast{
    background-color: RGBA(1,1,1,.6);
    height: 100%;
    width: 100%;
    display: none;
    top:0;
    left:0;
    position: fixed;
}
#sendBroadcast .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
#sendBroadcast .middle {
    display: table-cell;
    vertical-align: middle;
}
#sendBroadcast .inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 0;
    background-color: #f0f3f4;
}
#sendBroadcast #header{
    background-color: #263240;
    color: white;
    padding:10px;
}
#sendBroadcast h2{
    margin: 0;
}
#sendBroadcast #body{
    padding: 10px;
    text-align: center;
}
#sendBroadcast #body > ul > li{
    padding-top: 10px;
}
#sendBroadcast #body > ul > li > ul > li:first-child label{
    width:100px;
    display: inline-block;
    height:30px;
    text-align: start;
}
#sendBroadcast #body > ul > li > ul > li:nth-child(2) input,#sendBroadcast #body > ul > li > ul > li:nth-child(2) select, #message{
    width:350px;
    background-color: lightgray;
    border: 0px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display: inline-block;
    height:30px;
    padding:10px;
    text-align: start;
}
#sendBroadcast #body > ul > li > ul > li:nth-child(2) select{
    padding:0px;
}
#sendBroadcast ul{
    padding:0;
    margin:0;
}
#sendBroadcast ul li{
    list-style: none;
}
#sendBroadcast ul li ul li{
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
}
#sendBroadcast #message{
    height: 150px;
    resize: none;
    display: block;
}
#sendBroadcast #footer button{
    width:60px;
    padding:5px;
    color: white;
    border:0px;
    background-color: #a3c0ce;
    border-radius: 5px;
    cursor: pointer;
}
#sendBroadcast #footer button:hover{
    background-color: #F49A43;
}
#sendBroadcast #footer{
    text-align: right;
    padding: 10px;
    margin-right: 14px;
}