#showEmployeeProfile{
    background-color: RGBA(1,1,1,.6);
    height: 100%;
    width: 100%;
    display: none;
    top:0;
    left:0;
    position: fixed;
}
#showEmployeeProfile .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
#showEmployeeProfile .middle {
    display: table-cell;
    vertical-align: middle;
}
#showEmployeeProfile .inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 0;
    background-color: #f0f3f4;
}

#showEmployeeProfile #header{
    color: white;
    padding-top: 10px;
    text-align: center;
}
#showEmployeeProfile #header img{
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    width:100px;
    height:100px;
}

#showEmployeeProfile #body{
    padding: 10px;
    text-align: center;
    max-height: 600px;
}
#showEmployeeProfile #body > ul > li{
    padding-top: 10px;
}
#showEmployeeProfile #body > ul > li > ul > li:first-child label{
    width:120px;
    display: inline-block;
    height:30px;
    text-align: start;
    line-height: 30px;
}
#showEmployeeProfile #body > ul > li > ul > li:nth-child(2) div, #showEmployeeProfile #body > ul > li > ul > li:nth-child(2) input{
    width:320px;
    background-color: lightgray;
    border: 0px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display: inline-block;
    padding:10px;
    text-align: start;
}
#showEmployeeProfile ul{
    padding:0;
    margin:0;
}
#showEmployeeProfile ul li{
    list-style: none;
}
#showEmployeeProfile ul li ul li{
    display: inline-block;
    vertical-align: top;
}
#showEmployeeProfile #footer button{
    width:75px;
    padding:5px;
    color: white;
    border:0px;
    background-color: #a3c0ce;
    border-radius: 5px;
    cursor: pointer;
}
#showEmployeeProfile #footer button:hover{
    background-color: #F49A43;
}
#showEmployeeProfile #footer{
    text-align: right;
    padding: 10px;
    margin-right: 22px;
}
