#divTasks #divTop{
    background: #354658;
    height:50px;
}
#divTasks #divMid{
     background: #0a0f1d;
     height:50px;
}

#divTop{
    display: table;
    width:100%;
    color: white;
}
#divTop .spanLeft, #divTop .spanRight{
    display: table-cell;
    vertical-align: middle;
}
#divTop .spanLeft{
    padding-left:50px;
    color: #a3c0ce;
    cursor: pointer;
}
#divTop .spanRight{
    padding-right:50px;
}
#divTop .spanRight li:not(:first-child){
    border-left: 1px lightgray solid;
}
#divTop .spanRight li{
    padding:0px 8px;
}

#divTop .spanRight li.selected{
    color: #F49A43;
}
#divTop .spanRight li:hover{
    color: #F49A43;
    cursor: pointer;
}

#divTop span img{
    width:20px;
    height:20px;
    vertical-align: middle;
}
#divTop span:first-child img{
    width:28px;
    height:28px;
}
#divTasks #ulTopList{
    margin:0;
    padding:0;
    float: right;
    display: inline-block;
}
#divTasks #ulTopList li{
    display: inline;
}

#divTasks #ulMidList{
    padding:0;
    margin:0;
}
#divMid{
    display: table;
    width:100%;
    color: white;
}
#divMid .spanLeft, #divMid .spanRight{
    display: table-cell;
    vertical-align: middle;
}
#divMid .spanLeft{
    padding-left:30px;
}
#divMid .spanRight{
    width:200px;
    padding-right:50px;
}
#divMid .spanRight input{
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    border:0;
    padding:6px 6px 6px 30px;
    outline:none;
    color: white;
    width:100%;
    background: #191d2c url(../resources/images/task/search.svg) no-repeat 7px 5px;
}
#divMid .spanLeft li:not(:first-child){
    border-left: 1px lightgray solid;
    padding-left:5px;
}
#divMid .spanLeft li.selected{
    color: #F49A43;
}
#divMid .spanLeft li:hover{
    color: #F49A43;
    cursor: pointer;
}


#divTasks #ulMidList li{
    display: inline;
}

#divTasks #divBot{
    padding:20px;
}

#divTasks #divBot ul{
    padding:0;
    margin:0;
    list-style: none;
}
#divTasks #divBot ul li{
    display: inline;
}