*{
    font-family: "Comic Sans MS";
}
html, body{
    margin: 0;
    padding: 0;
}

#ulMain{
    list-style: none;
    padding: 0;
    min-width: 590px;
}
#ulMain li{
    display: inline-block;
    height:100%;
}

#ulMain #liLeft{
    min-width: 50px;
    width:10%;
    float: left;
}
#ulMain #liRight{
    width:90%;
    float: right;
}



.inline-block{
    display: inline-block;
    padding:0;
    width:100%;
}
.inline-block li{
    width:100%;
}
#ulMain #liHeader{
    height:100px;
}

#ulMain #liTitle {
    height: 50px;
    background: #f1f2f6;
}
#ulMain #liTitle div{
    margin-top: -10px;
    padding: 0px 50px;
}

